!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title test

    %link{:rel => 'stylesheet', :href => 'css/ui.css'}

  %body
    .test.minijianyingbikaishu
      %p 《古柏行》杜甫
      %p 孔明庙前有古柏，柯如青铜根如石
      %p 霜皮溜雨四十围，黛色参天二千尺
      %p 君臣已与时际会，树木尤为人爱惜
      %p 云来气接巫峡长，月出寒通雪山白
      %p 忆昨路绕锦亭东，先主武侯同闭宫
      %p 崔嵬枝干郊原古，窈窕丹青户牗空
      %p 落落盘踞虽得地，冥冥孤高多烈风
      %p 扶直自是神明力，正直原因造化功
      %p 大厦将倾要梁栋，万牛回首丘山重
      %p 不露文章世已惊，未辞剪伐谁能送
      %p 苦心岂免容蝼蚁，香叶终经宿鸾凤
      %p 志士幽人莫怨嗟，古来材大难为用


    .test.cyjlaosong
      %p 庆历四年春，滕子京谪守巴陵郡。越明年，政通人和，百废具兴，乃重修岳阳楼，增其旧制，刻唐贤今人诗赋于其上。属予作文以记之。(具 通：俱)
      %p 予观夫巴陵胜状，在洞庭一湖。衔远山，吞长江，浩浩汤汤，横无际涯；朝晖夕阴，气象万千。此则岳阳楼之大观也，前人之述备矣。然则北通巫峡，南极潇湘，迁客骚人，多会于此，览物之情，得无异乎?
      %p 若夫霪雨霏霏，连月不开，阴风怒号，浊浪排空；日星隐曜，山岳潜形；商旅不行，樯倾楫摧；薄暮冥冥，虎啸猿啼。登斯楼也，则有去国怀乡，忧谗畏讥，满目萧然，感极而悲者矣。(隐曜 一作：隐耀)
      %p 至若春和景明，波澜不惊，上下天光，一碧万顷；沙鸥翔集，锦鳞游泳；岸芷汀兰，郁郁青青。而或长烟一空，皓月千里，浮光跃金，静影沉璧，渔歌互答，此乐何极！登斯楼也，则有心旷神怡，宠辱偕忘，把酒临风，其喜洋洋者矣。
      %p 嗟夫！予尝求古仁人之心，或异二者之为，何哉？不以物喜，不以己悲；居庙堂之高则忧其民；处江湖之远则忧其君。是进亦忧，退亦忧。然则何时而乐耶？其必曰“先天下之忧而忧，后天下之乐而乐”乎？噫！微斯人，吾谁与归？
      %p 时六年九月十五日。


    .test.ygytljt
      %p 晋太元中，武陵人捕鱼为业。缘溪行，忘路之远近。忽逢桃花林，夹岸数百步，中无杂树，芳草鲜美，落英缤纷，渔人甚异之。复前行，欲穷其林。
      %p 林尽水源，便得一山，山有小口，仿佛若有光。便舍船，从口入。初极狭，才通人。复行数十步，豁然开朗。土地平旷，屋舍俨然，有良田美池桑竹之属。阡陌交通，鸡犬相闻。其中往来种作，男女衣着，悉如外人。黄发垂髫，并怡然自乐。
      %p 见渔人，乃大惊，问所从来。具答之。便要还家，设酒杀鸡作食。村中闻有此人，咸来问讯。自云先世避秦时乱，率妻子邑人来此绝境，不复出焉，遂与外人间隔。问今是何世，乃不知有汉，无论魏晋。此人一一为具言所闻，皆叹惋。余人各复延至其家，皆出酒食。停数日，辞去。此中人语云：“不足为外人道也。”
      %p 既出，得其船，便扶向路，处处志之。及郡下，诣太守，说如此。太守即遣人随其往，寻向所志，遂迷，不复得路。
      %p 南阳刘子骥，高尚士也，闻之，欣然规往。未果，寻病终，后遂无问津者。
    

    %script{:type => 'text/javascript', :src => 'js/lib/coffee-script.js'}
    %script{:type => 'text/javascript', :src => 'js/lib/jquery-2.1.1.min.js'}

    %script{:type => 'text/coffeescript', :src => 'js/ui.coffee'}
    %script{:type => 'text/coffeescript', :src => 'js/youziku.coffee'}

  <script type="text/javascript" src="http://www.youziku.com/UserDownFile/jquery.md5.js"></script>
  / %script{:type => 'text/javascript', :src => 'js/ziku.js'}